<h1>Win a Commodore 64 Ultimate</h1>
<p>Enter the raffle below.</p>
<ul>
  <li>No purchase required</li>
  <li>Winner does NOT need to be present</li>
  <li>Prize will be shipped if necessary</li>
</ul>
<%= link_to "Enter the Raffle", enter_path %>
