<h1>You're entered in the raffle.</h1>
<p>The winner will be contacted by email after CypherCon.</p>
<p>The prize will be shipped if you are not present.</p>
<%= link_to "Start New Entry", root_path %>
